*{
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#card-box, #form-news {
  transition: transform .2s; 
}
  
#card-box:hover, #form-news:hover {
  transform: scale(1.05); 
}

#form-news{
  margin-top: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}